[Unit]
Description=piproxy
After=network.target network-online.target

[Service]
Type=simple
Environment="NODE_ENV=production"
ExecStart=/home/vlado/.nvm/versions/node/v15.7.0/bin/node --no-deprecation server/piproxy.js
WorkingDirectory=/home/vlado/dev/piproxy
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=60
User=vlado
StandardOutput=null

[Install]
WantedBy=multi-user.target
